@charset "utf-8";
@use '@angular/material' as mat;
@include mat.core();

$base-color: #BE1704;
$second-color: #F4F4F4;
$texto-color: #53565A;

$theme-colors: (
    50: #e8ebee,
    100: #c6cdd4,
    200: #ffb343,
    300: #7a8a9a,
    400: #5e7184,
    500: #41586e,
    600: #1C613B,
    700: #6A6B70,
    800: #2a3d51,
    900: $base-color,
    A100: #82baff,
    A200: #4f9eff,
    A400: #1c83ff,
    A700: #0275ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);


$redi-primary: mat.define-palette($theme-colors, 900);
$redi-error: mat.define-palette(mat.$red-palette, 500);
$redi-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$primary-form-field: mat.define-palette(mat.$grey-palette, 800);
$accent-form-field: mat.define-palette(mat.$green-palette, A100, A200, A700);
$error-form-field: mat.define-palette(mat.$red-palette, 100);

$redi-theme: mat.define-light-theme((color: (primary: $redi-primary,
                accent: $redi-accent,
                warn:$redi-error ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

$redi-form-field-theme: mat.define-light-theme((color: (primary: $primary-form-field ,
                accent: $accent-form-field), density: -1));

@include mat.all-component-themes($redi-theme);
@include mat.form-field-theme ($redi-form-field-theme);

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    div {
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: $second-color;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $base-color;
        }
    }
}

@-moz-document url-prefix() {
    div {
        scrollbar-color: $base-color $second-color;
        scrollbar-width: thin;
    }
}