:host {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 85px;
    right: 0;
    bottom: 0;
    overflow: auto;
}


.content{
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: auto;
}

.contenedor-micro {
    display: block;
    padding: 1em;
    margin: auto;
}