:host {
    display: flex;
    font-size: smaller;
}

.cel {
    padding: 5px;
}

.usuario {
    margin-right: 5px;
}

.fecha {
    margin-left: 5px;
}

.cel-img {
    background-image: url(http://localhost:8089/redi/user.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius:35px;
    cursor: pointer;
    margin-top: 10px;
}
.puesto{
    text-align: end;
}